<div class="example">
  <iframe id="<%= iframe_id %>"
          width="<%= example.width || '100%' %>"
          height="<%= example.height || 'auto' %>"></iframe>
</div>
<div class="example-source">
  <%= example_source %>
</div>

<script>
  var i = document.getElementById('<%= iframe_id %>');
  var d = i.contentWindow.document;

  d.write(`
    <%= j stylesheet_link_tag "application", media: "all" %>
    <%= j javascript_include_tag "application" %>
    <%= example %>
  `);

  var interval = setInterval(function() {
    if (body = d.getElementsByTagName("body")[0]) {
      if (i.height == 'auto') {
        i.style.height = body.scrollHeight + 'px';
      } else {
        i.style.height = i.height + 'px';
      }
      clearInterval(interval);
    }
  }, 10);
</script>
