<div>
  <iframe id="<%= iframe_id %>"
          width="<%= example.width || '100%' %>"
          height="<%= example.height || 'auto' %>"></iframe>
</div>
<div class="">
  <%= example_source %>
</div>

<script>
  var i = document.getElementById('<%= iframe_id %>');
  var d = i.contentWindow.document;

  d.write(`
    <%= j stylesheet_link_tag "application", media: "all" %>
    <%= j javascript_include_tag "application" %>
    <%= example %>
  `);

  if (i.height == 'auto') {
    i.height = d.body.scrollHeight;
  }
</script>
