<div class="example">
  <iframe id="<%= iframe_id %>"
          width="<%= example.width || '100%' %>"
          height="<%= example.height || 'auto' %>"></iframe>
</div>
<div class="example-source">
  <%= example_source %>
</div>

<script>
  var i<%= iframe_id %> = document.getElementById('<%= iframe_id %>');
  var d<%= iframe_id %> = i<%= iframe_id %>.contentWindow.document;

  d<%= iframe_id %>.write(`
    <%= j stylesheet_link_tag "application", media: "all" %>
    <%= j javascript_include_tag "application" %>
    <%= example %>
  `);

  var interval<%= iframe_id %> = setInterval(function() {
    if (body = d<%= iframe_id %>.getElementsByTagName('body')[0]) {
      if (i<%= iframe_id %>.height == 'auto') {
        i<%= iframe_id %>.style.height = body.scrollHeight + 'px';
      } else {
        i<%= iframe_id %>.style.height = i<%= iframe_id %>.height + 'px';
      }
      clearInterval(interval<%= iframe_id %>);
    }
  }, 10);
</script>
