<div>
  <iframe id="<%= iframe_id %>" width="100%"></iframe>
</div>
<div class="">
  <%= example_source %>
</div>

<script>
  var i = document.getElementById('<%= iframe_id %>');
  var d = i.contentWindow.document;

  d.write(`
    <%= j stylesheet_link_tag "application", media: "all" %>
    <%= j javascript_include_tag "application" %>
    <%= example %>
  `);

  i.height = d.body.scrollHeight;
</script>
