<div id="<%= id %>" class="card">
  <% if header.present? %>
    <div class="card__header">
      <%= header[:yield] %>
    </div>
  <% end %>
  <% sections.each do |section| %>
    <div class="card__section<%= " card__section--#{section[:size]}" if section[:size] %>">
      <% if section[:header].present? %>
        <div class="card__section__header">
          <%= section[:header][:yield] %>
        </div>
      <% end %>
      <%= section[:yield] %>
    </div>
  <% end %>
  <% if footer.present? %>
    <div class="card__footer">
      <%= footer[:yield] %>
    </div>
  <% end %>
</div>
