<div id="<%= card[:id] %>" class="card">
  <% if (header = card[:header]) %>
    <div class="card__header">
      <%= header[:content] %>
    </div>
  <% end %>
  <% card[:sections].each do |section| %>
    <div class="card__section<%= " card__section--#{section[:size]}" if section[:size] %>">
      <% if section[:header].present? %>
        <div class="card__section__header">
          <%= section[:header][:content] %>
        </div>
      <% end %>
      <%= section[:content] %>
    </div>
  <% end %>
  <% if (footer = card[:footer]) %>
    <div class="card__footer">
      <%= footer[:content] %>
    </div>
  <% end %>
</div>
