<div id="<%= card.id %>" class="card">
  <% if card.header && card.header.content? %>
    <div class="card__header">
      <%= card.header.content %>
    </div>
  <% end %>
  <% card.sections.each do |section| %>
    <div class="card__section<%= " card__section--#{section.size}" if section.size %>">
      <% if section.header && section.header.content %>
        <div class="card__section__header">
          <%= section.header.content %>
        </div>
      <% end %>
      <%= section.content %>
    </div>
  <% end %>
  <% if card.footer && card.footer.content? %>
    <div class="card__footer">
      <%= card.footer.content %>
    </div>
  <% end %>
</div>
