<!DOCTYPE html>
<html>
  <head>
    <title>Style guide</title>
    <%= stylesheet_link_tag "components/application", media: "all" %>
    <%= javascript_include_tag "components/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="grid-container">
      <nav>
        <%= navigation %>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>
    <script>
      var iframes = document.getElementsByTagName('iframe');

      for (var i = 0; i < iframes.length; i++) {
        iframes[i].onload = function(e) {
          var i = e.target;
          var d = i.contentWindow.document;
          var b = d.getElementsByTagName('body')[0];

          var interval = setInterval(function() {
            if (i.height == 'auto') {
              i.style.height = b.scrollHeight + 'px';
            } else {
              i.style.height = i.height + 'px';
            }
            clearInterval(interval);
          }, 10);
        }
      }
    </script>
  </body>
</html>
