<!DOCTYPE html>
<html>
  <head>
    <title>Styleguide</title>
    <%= stylesheet_link_tag "components/application", media: "all" %>
    <%= javascript_include_tag "components/application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= navigation %>

    <%= yield %>
  </body>
</html>
