<!DOCTYPE html>
<html>
  <head>
    <title>Style guide</title>
    <%= stylesheet_link_tag "components/application", media: "all" %>
    <%= javascript_include_tag "components/application" %>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i%7CIBM+Plex+Sans:400,400i,500,600" rel="stylesheet">
  </head>
  <body>
    <div class="grid-container">
      <nav>
        <%= navigation %>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
